apiVersion: batch/v1
kind: CronJob
metadata:
  name: jobintel-daily
  namespace: jobintel
spec:
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: jobintel
              args:
                - --profiles
                - cs
                - --us_only
                - --no_post
